.details {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 27px 0 26px;
}
.track-art1 {
    width: 270px;
    height: 270px;
    width: 270px;
    height: 270px;
    top: 0;
    left: 0;
    background-color: #fda5af33;
    border-radius: 135px;
    box-shadow: 0px 0px 0px #270c191a, 0px 10px 21px #270c191a, 1px 39px 39px #270c1917, 3px 87px 52px #270c190d,
      5px 154px 62px #270c1903, 8px 241px 68px transparent;
  
}
.track-art {
  display: flex;
  margin: 25px;
  height: 250px;
  width: 250px;
  border-radius: 270px;
  background: rgba(254, 165, 176, 0.20);
  box-shadow: 0px 0px 0px 0px rgba(39, 12, 25, 0.10), 0px 10px 21px 0px rgba(39, 12, 25, 0.10), 1px 39px 39px 0px rgba(39, 12, 25, 0.09), 3px 87px 52px 0px rgba(39, 12, 25, 0.05), 5px 154px 62px 0px rgba(39, 12, 25, 0.01), 8px 241px 68px 0px rgba(39, 12, 25, 0.00);
  background-size: cover;
  background-position: center;
  border: transparent;
}

.now-playing {
  align-self: center;
  color: #F5F5F5;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.track-name {
  color: #FFF;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.track-artist {
  color: rgba(254, 165, 176, 0.5);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
